<figure class="B__E--M">
  <button type="button" title="Go to page top" aria-label="Bookmark" onclick="location.href='#top';">
    <picture>
      <!-- <source sizes="" srcset="" type="image/" media="(min-width: )" /> -->
      <img src="assets/copyright.png" alt="Copyright to Coding Sable" width="64px" height="64px" />
    </picture>
  </button>
</figure>

<noscript>The web-browser does NOT support JavaScript or it is switched off!</noscript>
</body>

</html>