<!DOCTYPE html>
<html lang="en-HU" dir="ltr" id="webpack-5">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />

  <meta name="description" content="150-160 karakter, (fókusz)kulcsszavakkal az elején" />
  <meta name="keywords" content="fókusz,kevésbéfontos,max10" />
  <meta name="author" content="Hlatky Szabolcs" />
  <meta name="creator" content="Coding Sable" />
  <meta name="publisher" content="Ictys" />
  <meta name="generator" content="Visual Studio Code" />
  <meta name="distribution" content="global" />
  <meta name="revised" content="Ictys, 2023/01/01" />

  <title>Title | 50-55-60 character</title>

  <link rel="stylesheet" href="assets/main.css" />
  <link rel="icon" href="assets/favicon.ico" />
  <link rel="apple-touch-icon" href="assets/favicon.ico" />

  <script defer src="assets/bundle.js"></script>
</head>
<body>